
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
*{
    font-family:"Bungee Spice", sans-serif;
}

header{
    background-color: #d152f3;
    color:white;
    text-align: center;

}
.li-navbar{
    list-style: none;
    display: inline-block;
    text-align:center;
}
.li-navbar:hover{
    color: rgb(77, 255, 0);
    font-size:24px;
}  
   
.introducao{
    background-color: black;
    color: white;
}

.descricao{
    background-color: black;
    color: white;

}
